<div class="container">
  <div class="row">
      <div class="col-md-6">
              <%= image_tag @user.image, class: 'media-object' %>
      </div>

      <div class="col-md-6">
              <h2 class="media-heading"><%= @user.name %></h2>
              phone number
      </div>
  </div>
</div>


<div>
  <%= button_to "Moods", user_moods_path(@user), class: "btn-success" %>
</div>
