<div class="row">
    <div class="col-md-6">

          <div class="media_right">
            <%= image_tag @user.image, class: 'media-object' %>
          </div>

    </div>

    <div class="col-md-6">

          <div class="media_left">
            <h2 class="media-heading"><%= @user.name %></h2>
          </div>

    </div>

</div>
<div>
  <%= link_to "All Suggestions", user_suggestions_path(current_user), class: "btn btn-success" %>
</div>
<div>
  <%= link_to "All Availables", user_availables_path(current_user), class: "btn btn-success" %>
</div>
