<div class="row state-overview">
    <div class="col-lg-3 col-sm-6">
        <section class="panel purple">
            <div class="symbol">
                <i class="fa fa-heart"></i>
            </div>
            <div class="value white">
                <h1 class="timer" data-from="0" data-to="8" data-speed="1000"></h1>
                <p>Dates</p>
            </div>
        </section>
    </div>
    <div class="col-lg-3 col-sm-6">
        <section class="panel ">
            <div class="symbol purple-color">
                <i class="fa fa-map-marker"></i>
            </div>
            <div class="value gray">
                <h1 class="purple-color timer" data-from="0" data-to="123" data-speed="1000"></h1>
                <p>Places</p>
            </div>
        </section>
    </div>
    <div class="col-lg-3 col-sm-6">
        <section class="panel green">
            <div class="symbol ">
                <i class="fa fa-paper-plane"></i>
            </div>
            <div class="value white">
                <h1 class="timer" data-from="0" data-to="432"data-speed="1000"></h1>
                <p>Invitations Sent</p>
            </div>
        </section>
    </div>
    <div class="col-lg-3 col-sm-6">
        <section class="panel">
            <div class="symbol green-color">
                <i class="fa fa-paper-plane-o"></i>
            </div>
            <div class="value gray">
                <h1 class="green-color timer" data-from="0" data-to="2345" data-speed="3000"></h1>
                <p>Invitations Received</p>
            </div>
        </section>
    </div>
</div>
