<div class="row">
  <div class="col-xs-2" id="amin6">
    <ul class="nav nav-pills nav-stacked">
       <li>
         <% unless @user.telephone.nil? %>
             <%= link_to find_user_path, id: "amin7" do %>
               <h3><i class="glyphicon glyphicon-plus"> </i>&nbsp;</h3>
             <% end %>
         <% end %>
       </li>
    </ul>
  </div>

  <div class="col-xs-10">

      <%= link_to user_appointments_path(current_user) do %>
        <div class="row" id="amin4">
          <h3>Dates</h3>
        </div>
      <% end %>
      <%= link_to user_suggestions_path(current_user) do %>
        <div class="row" id="amin5">
          <h3>Places</h3>
        </div>
      <% end %>
      <%= link_to user_availables_path(current_user) do %>
        <div class="row" id="amin4">
          <h3>Open Times</h3>
        </div>
      <% end %>
    </div>

</div>
