<div class="container">
  <h1>About Us</h1>
  <p>
    If you are using any of the popular online dating apps, you know how
    frustrating and time consuimg it is to setup a first date. You have to
    take into account tiniy little things like where you wanna go, what you
    wanna do, or how to find a day that works for both of you.
  </p>
  <p>
    Thorsh is a simple app that takes away the hassle of setting up a date.
    By opening an account, users can make a list of the places or activities
    that they have in mind, as well as their availability. Thorsh has a lot of
    fun features that will be added to this app over time.
  </p>
  <h3>Facebook Login</h3>
  <p>
    Facebook login makes the process of creating an account very easy. Thorsh
    only gets your public information, such as "Name", "e-mail" and profile photo.
  </p>
  <h3>Disclaimer</h3>
  <p>
    Thorsh is still in &beta;eta mode, which means new features and new styling
    are constantly added to this project. Feel free to tell us your feedback and
    suggestions, by sending us an email at
    <a href="mailto:aminrezapour@email.com" target="_top">info@thorsh.com</a>
  </p>
  <h3>Copyright</h3>
  <p>
    The content of this app is copyrighted to
    <a href="https://www.linkedin.com/in/amin-rezapour-96822b10" target="_top">
    Amin Rezapour</a> and any unauthorized use is prohibited.
  </p>
</div>
