<div class="container">
  <h1>About Us</h1>
  <p>
    If you are using any of the popular online dating apps, you know how
    frustrating and time consuimg it is to setup a first date. You have to
    take into account little details like where you wanna go, what you
    wanna do, or how to find a date and time that works for both of you.
  </p>
  <p>
    CandyDate is a simple app that takes away the hassle of setting up a date.
    By opening an account, users can make a list of the places or activities
    that they have in mind, as well as their availability. We have a lot of
    fun features that will be added over time.
  </p>
  <p>
    CandyDate is still in testing mode, which means new features and new styling
    are constantly added to this project. We extremely value our early users and
    looking forward to hear your feedback, suggestions or bug report. Send us an
    email at
    <a href="mailto:aminrezapour@email.com" target="_top">info@candydate.me</a>
  </p>
  <h3>Facebook Login</h3>
  <p>
    Facebook login makes the process of creating an account very easy. CandyDate
    only gets your public information, such as "name", "e-mail" and profile photo.
  </p>
  <h3>Copyright</h3>
  <p>
    The content of this app is copyrighted to
    <a href="https://www.linkedin.com/in/amin-rezapour-96822b10" target="_top">
    Amin Rezapour</a> and any unauthorized use is prohibited.
  </p>
</div>
