<div id="amin2">
  Enter <b>Her/His</b> Number

  <div class="form-group">
    <input type="text" class="form-control">
  </div>

</div>

<div id="amin">
  <p>
    Sign In!
  </p>
  <div>
    <%= link_to "Facebook", user_omniauth_authorize_path(:facebook), id: "amin3" %>
  </div>

</div>
