<div id="amin">
  <h1>Welcome To Thorsh</h1>
  <small><p>A Better Solution to Manage Your Date Life!</p></small>
  <div id="amin2">
    <blockquote class="amin1">
      Thorsh takes away the hassle of planing a date.
      It works pretty easy, just sign up with your Facebook account, enter your phone number,
      enter her/his number, and get to choose the time and the location of your rendezvous.
      It's a lot of fun, we promise!
      <br><br>
      "This is a &beta;eta product."
    </blockquote>
  </div>
  <br>
  <div>
    <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), class: "btn btn-primary" %>
  </div>

</div>
