<div id="amin">
  <h1>THORSH</h1>
  <small><p>We Get You on a Date!</p></small>
  <br>
  <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), class: "btn btn-primary" %>
</div>
