<h1>Invitations#edit</h1>
<p>Find me in app/views/invitations/edit.html.erb</p>
<%= link_to [current_user, @invitation], method: :delete, data: {confirm: 'Are you sure?'} do %>
  <div class="col-xs-2" id="amin11">
    <h5>Delete</h5>
  </div>
<% end %>
