/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
     font-family: 'Open Sans Condensed', sans-serif;
 }

 #amin {
     background-color: black;
     background-size: cover;
     color:white;
     text-align:center;
     padding-top:10px;
     padding-bottom:500px;
 }

 #amin2 {
     background-color: rgba(0,0,0,0.5);
     padding:10px 50px 10px 50px;
 }

 blockquote.amin1 {
     margin-bottom: 0px;
 }

 #amin3 {
   padding: 7px 5px 5px 8px;
 }

 #amin4 {
   background-color: black;
   color: white;
   text-align: center;
   padding: 20px;
 }

 #amin5 {
   background-color: white;
   color: black;
   text-align: center;
   padding: 20px;
 }

 #amin6 {
   padding: 0px;
   background-color: white;
 }

 #amin7 {
   background-color: white;
   color: black;
   text-align: center;
   padding: 20px 0px 20px 20px;
 }

 #amin8 {
   background-color: white;
   color: black;
   text-align: left;
   padding: 20px;
   border-left-style: solid;
   border-left-width: 1px;
   border-left-color: black;
   border-left-radius: 0px;
   border-bottom: none;
 }

 #amin9 {
   background-color: rgb(50,50,50);
   color: white;
   text-align: center;
   padding: 20px;
 }

 #amin10 {
   background-color: rgb(80,80,80);
   color: white;
   text-align: center;
   padding: 20px;
 }

 #amin11 {
   background-color: red;
   color: white;
   padding: 25px 20px 25px 5px;
   text-align: center;
 }

 #amin12 {
   background-color: green;
   padding: 20px 20px 17px 20px;
   border-radius: 0px;
   color: white;
   text-align: center;
 }

 #amin13 {
   border-bottom-style: solid;
   border-bottom-width: 1px;
   border-bottom-color: black;
   border-bottom-radius: 0px;
 }

 #amin14 {
   padding: 20px;
   text-align: right;
 }

 #amin15 {
   padding: 5px 5px 4px 10px;
   text-align: left;
 }

 #amin16 {
   background-color: rgb(51, 204, 255);
   color: white;
   padding: 25px 20px 25px 5px;
   text-align: center;
 }
