// Place all the styles related to the Moods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#amin4 {
    background-color: black;
    color: white;
}

#amin5 {
  background-color: white;
  color: black;
}

#amin6 {
  background-color: black;
  color: white;
  padding: 50px;
  text-align: center;
}

#amin7 {
  margin: 0px;
}

#amin8 {
  border-bottom-color: black;
  border-bottom-style: solid;
  color: black;
}

#amin9 {
  padding-left: 10px;
  background-color: white;
}
