// Place all the styles related to the Suggestions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#amin6 {
  background-color: black;
  color: white;
  padding: 50px;
  text-align: center;
}

#amin7 {
  margin: 0px;
}

#amin8 {
  background-color: rgb(89,89,89);
  color: white;
  padding: 50px;
  text-align: center;
}

#aminn9 {
  background-color: white;
  color: black;
  padding: 50px;
  text-align: center;
}
