// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#amin5 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#amin6 {
  padding: 10px;
}

#amin7 {
  padding: 2px;
}

#amin8 {
  padding: 9px;
}

#amin9 {
  background-color: black;
  color: white;
}

#amin10 {
  padding: 0px;
}

#amin11 {
  background-color: white;
  color: black;
}
#amin12 {
  background-color: black;
  color: black;
  padding: 150px;
}
