<%= form_tag(user_suggestion_index_path(current_user), method: :get) do %>
  <div>
    <%= text_field_tag(:tel, nil, placeholder: "phone number", class: "form-control") %>

    <%= submit_tag("Search", class: "btn btn-block btn-primary", id: "amin4") %>
  </div>
<% end %>
