<%= form_tag(user_suggestion_index_path(current_user), method: :get) do %>
  <div>
    <%= text_field_tag(:tel, nil, placeholder: "phone number", class: "form-control") %>

    <div class="row">
      <%= submit_tag "Search", class: "btn btn-block", id: "amin4" %>
    </div>
  </div>
<% end %>
