<h1>Under Construction</h1>
<h1>Appointments#show</h1>
<p>Find me in app/views/appointments/show.html.erb</p>
<% if @appointment.day > Date.today %>
  <%= link_to [current_user, @appointment], method: :delete, data: {confirm: 'Are you sure?'} do %>
    <div class="col-xs-2" id="amin11">
      <h5>Cancel</h5>
    </div>
  <% end %>
<% end %>
