<!-- header section start-->
<div class="header-section">

    <!--logo and logo icon start-->
    <div class="logo dark-logo-bg hidden-xs hidden-sm">
        <a href="index.html">
            <%= image_tag "logo-icon.png", alt: "" %>
            <!--<i class="fa fa-maxcdn"></i>-->
            <span class="brand-name">SlickLab</span>
        </a>
    </div>

    <div class="icon-logo dark-logo-bg hidden-xs hidden-sm">
        <a href="index.html">
            <%= image_tag "logo-icon.png", alt: "" %>
            <!--<i class="fa fa-maxcdn"></i>-->
        </a>
    </div>
    <!--logo and logo icon end-->

    <!--toggle button start-->
    <a class="toggle-btn"><i class="fa fa-outdent"></i></a>
    <!--toggle button end-->

    <!--profile start-->
    <div class="notification-wrap">
      <!--right notification start-->
      <div class="right-notification">
          <ul class="notification-menu">

              <li>
                  <a href="javascript:;" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                      <%= image_tag "avatar-mini.jpg", alt: "" %>John Doe
                      <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu purple pull-right">
                      <li><a href="javascript:;">  Profile</a></li>
                      <li><a href="javascript:;">  About</a></li>
                      <li><a href="login.html"> Log Out</a></li>
                  </ul>
              </li>

          </ul>
      </div>
      <!--right notification end-->
    </div>
    <!--profile end-->

</div>
<!-- header section end-->
