<ul class="nav nav-pills nav-stacked">
  <li>
    <%= link_to user_appointments_path(user), id: "amin7" do %>
      <h3><i class="glyphicon glyphicon-heart"> </i>&nbsp;</h3>
    <% end %>
  </li>
  <li>
    <%= link_to user_suggestions_path(user), id: "amin7" do %>
      <h3><i class="glyphicon glyphicon-map-marker"> </i>&nbsp;</h3>
    <% end %>
  </li>
  <li>
    <%= link_to user_invitations_path(user), id: "amin7" do %>
      <h3><i class="glyphicon glyphicon-envelope"> </i>&nbsp;</h3>
    <% end %>
  </li>
</ul>
